#navigator-toolbox {
    display: grid;
    grid-template-columns: 1fr auto;
}

#navigator-toolbox #nav-bar {
    order: -1;
}

#navigator-toolbox .titlebar-buttonbox {
    display: none;
}

#navigator-toolbox .titlebar-buttonbox {
    display: none;
}

#navigator-toolbox #tabbrowser-tabs tab {
    display: none;
}

#navigator-toolbox hbox.titlebar-spacer[type=pre-tabs] {
    display: none;
}

#navigator-toolbox hbox.titlebar-spacer[type=post-tabs] {
    display: none;
}

#navigator-toolbox #unified-extensions-button {
    display: none;
}

#navigator-toolbox toolbarbutton#PanelUI-menu-button {
    display: none;
}

#navigator-toolbox hbox#star-button-box {
    display: none;
}

#navigator-toolbox box#tracking-protection-icon-container {
    display: none;
}

#navigator-toolbox .tab-icon-image[src="chrome://branding/content/icon32.png"] {
    display: none;
}

#main-menubar {
    display: none;
}

#navigator-toolbox #tabbrowser-tabs {
    display: none;
}
