show_startup_tips false
session_serialization false
theme "catppuccin-mocha"
default_layout "main"
dim_inactive_panes true
advanced_mouse_actions false
mouse_hover_effects false
pane_frames false
simplified_ui true

keybinds {
  normal clear-defaults=true {
    bind "Ctrl Space" {
      Run "sh" "-c" "$HOME/.config/zellij/control-panel" {
        name "Control Panel"
        pinned true
        floating true
        borderless false
        close_on_exit true
        x "10%"
        y "10%"
        width "80%"
        height "80%"
      }
    }
  }
}
