show_startup_tips false
session_serialization false
theme "catppuccin-mocha"
default_layout "main"
theme "default"
dim_inactive_panes true
advanced_mouse_actions false
mouse_hover_effects false
pane_frames false
simplified_ui true

keybinds {
  normal clear-defaults=true {
    bind "Ctrl d" { Detach; }
    bind "Ctrl Space" {
      Run "sh" "-c" "~/.config/zellij/session-manager.sh" {
        floating true
        borderless true
        close_on_exit true
        x "0%"
        y "0%"
        width "50%"
        height "50%"
      }
    }
  }
}
