show_startup_tips false
session_serialization false
theme "catppuccin-mocha"
default_layout "main"
pane_frames false
simplified_ui true

keybinds {
  normal clear-defaults=true {
    bind "Ctrl d" { Detach; }
    bind "Ctrl Space" {
      Run "sh" "-c" "~/.config/zellij/session-manager.sh" {
        floating true
        borderless true
        close_on_exit true
        x "0%"
        y "0%"
        width "100%"
        height "100%"
      }
    }
  }
}
