width = 400  
height = 200

force_window = false

corner_radius = "8"

font_size = 24

bg_color = 0x11111bee
bg_border_color = 0xf5e0dcff
bg_border_width = 8.0

font_color = 0xf8f8f2ff


[input_text]
font_color = 0xcdd6f4ff
bg_color = 0x000000ff

margin = "8"
padding = "0"

corner_radius = "0 0 0 0"

[list_items]
font_color = 0xcdd6f4ff

selected_font_color = 0xf38ba8ff

match_color = 0xe69f66ff

margin = "10 20"

hide_actions = false
action_left_margin = 16

item_spacing = 8

icon_spacing = 5

[icon]
size = 24
